.custom-font {
  font-family: 'Inter', sans-serif;
}

.custom-btn {
  width: 100%; 
  max-width: 250px; 
  height: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px; 
  font-weight: bold;
  font-style: italic;
  background-color: #130C90;
  border-radius: 8px; 
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}

.custom-btn:hover {
  background-color: #0C074F;
}

.right-aligned-text {
  text-align: right;
  margin-right: 15px;
}

.bold-text {
  font-weight: 750;
  font-style: italic;
}

.card {
  border: 2px solid #130C90;
  padding: 15px; 
  border-radius: 8px;
  margin-bottom: 15px; 
}

.card-checkout .right-aligned-text {
  text-align: left;
  margin-right: 0;
}

.card-checkout .custom-btn {
  margin-left: auto;
}

.check-in .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title-card .card-body {
  display: block; 
}

@media (max-width: 768px) {
  .check-in .card-body {
    flex-direction: column;
    align-items: stretch;
  }

  .right-aligned-text {
    text-align: center;
    margin: 15px 0;
  }

  .card-checkout .custom-btn,
  .check-in .custom-btn {
    margin-left: 0;
  }
}