.custom-font {
  font-family: 'Inter', sans-serif;
}

.card {
  border-radius: 10px;
  margin-bottom: 30px;
  max-width: 100%;
  box-shadow: 0.1px 4px 6px rgba(0, 0, 0, 0.1); 
  padding-left: 20px;
  border: 2px solid #130C90; 
}

.box-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.box {
  border-radius: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  width: 200px;
}

.box1 {
  background-color: #B1DFE6; 
}

.box2 {
  background-color: #8BCFF1; 
}

.box3 {
  background-color: #5087F7; 
}

.box4 {
  background-color: #406BC4;
}

.box5 {
  background-color: #3057A5; /* Warna lebih gelap dari #406BC4 */
}


.box p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px; 
}

.box h1 {
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  margin: 0px; 
}

.btn-danger {
  background-color:  #130C90; 
  color: white; 
  border: none; 
  text-decoration: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 14px;
  font-weight: bold; 
}

.table-responsive {
  width: 100%;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(19, 12, 144, 0.04);
}

thead {
  background-color: #130C90;
  text-align: center;
}

th, td {
  padding: 12px;
  text-align: left; 
  border: 1px solid #ddd;
  vertical-align: middle; 
}

th {
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #fff;
}

.date-picker {
  width: 200px;
  height: 40px;
  padding-left: 10px;
}

.custom-btn {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  background-color: #130C90;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.custom-btn:hover {
  background-color: #0C074F;
}

@media (max-width: 768px) {
  .box-container {
    gap: 20px;
  }

  .box {
    width: 45%; 
    padding: 30px;
  }

  .box p {
    font-size: 24px; 
  }

  .box h1 {
    font-size: 80px;
  }

  .custom-btn {
    width: 100%;
    font-size: 14px;
  }

  .date-picker {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .box-container {
    gap: 10px;
  }

  .box {
    width: 100%; 
    padding: 20px;
  }

  .box p {
    font-size: 20px;
  }

  .box h1 {
    font-size: 60px;
  }

  .custom-btn {
    width: 100%;
    height: 35px;
    font-size: 12px;
  }

  .btn-danger {
    padding: 8px 16px;
    font-size: 12px;
  }
}