.custom-font {
  font-family: 'Inter', sans-serif;
}

.card {
  border-radius: 10px;
  margin-bottom: 30px;
  max-width: 100%;
  box-shadow: 0.1px 4px 6px rgba(0, 0, 0, 0.1); 
  padding-left: 20px;
  border: 2px solid #130C90; 
}
.card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.subtitle-card{
  flex: 1;
}

.delete{
  margin-left: 20px;
  margin-bottom: 20px;
}


.box-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.box {
  border-radius: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  width: 200px;
}

.box1 {
  background-color: #B1DFE6; 
}

.box2 {
  background-color: #8BCFF1; 
}

.box3 {
  background-color: #5087F7; 
}

.box4 {
  background-color: #406BC4;
}

.box5 {
  background-color: #3057A5; /* Warna lebih gelap dari #406BC4 */
}


.box p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px; 
}

.box h1 {
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  margin: 0px; 
}

.btn-danger {
  background-color:  #130C90; 
  color: white; 
  border: none; 
  text-decoration: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 14px;
  font-weight: bold; 
}

.table-responsive {
  width: 100%;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(19, 12, 144, 0.04);
}

thead {
  background-color: #130C90;
  text-align: center;
}

th, td {
  padding: 12px;
  text-align: left; 
  border: 1px solid #ddd;
  vertical-align: middle; 
}

th {
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #fff;
}

.date-picker {
  width: 125px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #130C90;
  border-radius: 0 ;
  font-size: 14px;
}
.d-flex input{
  border: 1px solid #130C90;
}

.custom-btn {
  width: 140px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: #130C90;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #130C90;
}

.custom-btn:hover {
  background-color: #0C074F;
}

.pagination{
  display:flex;
  justify-content: right;
  list-style-type: none;
}
.page-item {
  margin: 0 2px; /* Menambahkan jarak antar item */
  margin-top: 12px;
  list-style-type: none;
}

.page-link {
display: block;
color: #130C90; /* Mengubah warna teks */
padding: 8px 18px;
border: 1px solid #130C90; /* Menambahkan border */
border-radius: 4px;
text-decoration: none;
}

.page-link:hover {
  background-color: rgba(19, 12, 144, 0.04);; 
  color: #130C90; 
  border-color: #130C90; 
}

.page-item.active .page-link {
  background-color: #130C90;; 
  color: white; 
  border-color: #130C90;; 
}

.btn-delete {
  padding: 8px 14px;
  font-size: 14px;
  font-weight: bold;
  background-color: red;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.card-title{
  margin-bottom: 0px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.filter, .search-form {
  flex: 1; /* Masing-masing menempati ruang yang sama */
}

.filter {
  margin-right: 10px; /* Jarak antara filter dan search */
}

.search-form {
  display: flex;
  justify-content: flex-end;
}

.d-flex{
  display: flex;
  align-items: center;
}
.d-flex .form-control {
  margin-right: 0; 
}



@media (max-width: 768px) {
  .box-container {
    gap: 20px;
  }

  .box {
    width: 45%; 
    padding: 30px;
  }

  .box p {
    font-size: 24px; 
  }

  .box h1 {
    font-size: 80px;
  }

  .form-container{
    flex-direction: column;
    align-items: stretch;
  }

  .filter, .search-form {
      width: 100%; /* Masing-masing menempati lebar penuh */
  }

  .search-form {
      margin-top: 10px; /* Tambahkan jarak antara filter dan search */
      justify-content: flex-start;
  }
 
  
}

@media (max-width: 480px) {
  .box-container {
    gap: 10px;
  }

  .box {
    width: 100%; 
    padding: 20px;
  }

  .box p {
    font-size: 20px;
  }

  .box h1 {
    font-size: 60px;
  }

  .custom-btn {
    width: 100%;
    height: 35px;
    font-size: 12px;
  }
  .btn-search {
    width: 100%;
    height: 35px;
    font-size: 12px;
  }
  .date-picker {
    width: 100%;
    height: 35px;
    font-size: 12px;
  }

  .btn-danger {
    padding: 8px 16px;
    font-size: 12px;
  }

  .card-body {
    flex-direction: column;
    align-items: stretch;
  }
  .delete{
    margin-left: 0;
  }

  
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 12px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin-bottom: 12px;
  padding: 4px;
}