.custom-font {
    font-family: 'Inter', sans-serif;
}

.card {
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 100%;
    box-shadow: 0.1px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 10px 15px;
    border: 2px solid #130C90; 
}

.chart-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 20px;
}

.filter form {
    display: flex;
    align-items: center;
    gap: 10px; /* Menambahkan jarak antar elemen */
}

.custom-btn {
    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: #130C90;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #130C90;
    transition: background-color 0.3s ease; /* Menambahkan transisi halus untuk hover */
}

.custom-btn:hover {
    background-color: #0C074F;
}

.custom {
    width: 140px;
    height: 40px;
    font-size: 14px;
}


.kartu{
    width: 30%;
    margin: 8px;
    padding:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}
.kartuGaris{
    width: 60%;
    margin: 8px;
    padding:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.kartu2{
    width: 96%;
    margin: 8px;
    padding:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}
.filterDate {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: end;
    margin-bottom: 20px;
}

.filterDate input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.filterDate label {
    margin-right: 0px;
    font-size: 12px;
}
.tglAwal{
    display: flex;
    flex-direction: column;
}


/* Media query untuk perangkat yang lebih kecil */
@media (max-width: 768px) {
    .chart-container {
        width: 90%; 
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter form {
        width: 100%;
        flex-direction: column;
        gap: 10px; 
    }

    .custom-btn, .custom {
        width: 100%; 
        font-size: 14px;
    }

    .kartu {
        width: 100%; /* Lebar penuh pada layar kecil */
      }

      .kartu2, .kartuGaris {
        width: 100%; /* Lebar penuh pada layar kecil */
      }
    
      .filterDate {
        flex-direction: column;
        align-items: stretch;
    }

    
      
}

@media (max-width: 480px) {
    .filter {
        margin-bottom: 10px;
    }

    .custom-btn, .custom {
        height: 35px; 
    }
    .kartu2, .kartuGaris {
        width: 100%; /* Lebar penuh pada layar kecil */
      }
   
}
