.title {
  margin-left: 12px;
}

.custom-font {
  font-family: 'Inter', sans-serif;
}

.custom-btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #130C90;
  border-radius: 10px;
  margin: 0 auto;
  color: white;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #0C074F;
}

.bold-text {
  font-weight: 900;
}

.card {
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  width: 100%; 
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: 500;
  font-size: 18px;
  margin-left: 12px;
}

.profile .form-control {
  padding: 15px;
  background-color: #F6F5FB;
  border: 2px solid #130C90;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin-left: 0;
  box-sizing: border-box; 
}

.profile .form-control[readonly] {
  border: none;
  box-shadow: none;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-bottom: 20px;
}

.form-group.flex-item {
  width: 48%;
}




@media (max-width: 768px) {
  .form-group.flex-item {
    width: 100%;
  }

  .profile .form-control {
    width: 100%;
    margin-left: 0;
  }

  .form-label {
    margin-left: 0;
  }

  .title {
    margin-left: 0;
    font-size: 24px;
    text-align: center;
  }

  .custom-btn {
    width: 100%;
    font-size: 16px;
  }

  .card {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
  }
  
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .custom-btn {
    height: 35px;
    font-size: 14px;
  }

  .form-label {
    font-size: 16px;
  }

  .profile .form-control {
    font-size: 14px;
    padding: 12px;
  }

  .card {
    padding: 10px;
    width: 100%;
  }
}