.custom-font {
    font-family: 'Inter', sans-serif;
  }
  
  .card {
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 100%;
    box-shadow: 0.1px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 10px 15px;
    border: 2px solid #130C90; 
  }
  .card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }
  
  .subtitle-card{
    flex: 1;
  }
  
  .delete{
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  
  .btn-danger {
    background-color:  #130C90; 
    color: white; 
    border: none; 
    text-decoration: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 14px;
    font-weight: bold; 
  }
  
  .table-responsive {
    width: 100%;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(19, 12, 144, 0.04);
  }
  
  thead {
    background-color: #130C90;
    text-align: center;
  }
  
  th, td {
    padding: 12px;
    text-align: left; 
    border: 1px solid #ddd;
    vertical-align: middle; 
  }
  
  th {
    color: white;
    text-align: center;
  }

.bg-wfo {
  background-color: #a5d6a7; 
}

.bg-wfh {
  background-color: rgba(21, 101, 192, 0.1); 
}

.bg-izin {
  background-color: rgba(255, 235, 59, 0.3); 
}

.bg-sakit {
  background-color: #ffccbc;
}

.bg-alpha {
  background-color: #ef9a9a; 
}

  
  .date-picker {
    width: 125px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #130C90;
    border-radius: 0 ;
    font-size: 14px;
  }
  .d-flex input{
    border: 1px solid #130C90;
  }
  
  .custom-btn {
    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: #130C90;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #130C90;
  }
  
  .custom-btn:hover {
    background-color: #0C074F;
  }
  
  .btn-delete {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-decoration: none;
  }
  .card-title{
    margin-bottom: 0px;
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .filter, .search-form {
    flex: 1; /* Masing-masing menempati ruang yang sama */
  }
  
  .filter {
    margin-right: 10px; /* Jarak antara filter dan search */
  }
  
  .search-form {
    display: flex;
    justify-content: flex-end;
  }
  
  .d-flex{
    display: flex;
    align-items: center;
  }
  .d-flex .form-control {
    margin-right: 0; 
  }
  
  
  
  @media (max-width: 768px) {
    .box-container {
      gap: 20px;
    }
  
    .box {
      width: 45%; 
      padding: 30px;
    }
  
    .box p {
      font-size: 24px; 
    }
  
    .box h1 {
      font-size: 80px;
    }
  
    .form-container{
      flex-direction: column;
      align-items: stretch;
    }
  
    .filter, .search-form {
        width: 100%; /* Masing-masing menempati lebar penuh */
    }
  
    .search-form {
        margin-top: 10px; /* Tambahkan jarak antara filter dan search */
        justify-content: flex-start;
    }
   
    
  }
  
  @media (max-width: 480px) {
    .box-container {
      gap: 10px;
    }
  
    .box {
      width: 100%; 
      padding: 20px;
    }
  
    .box p {
      font-size: 20px;
    }
  
    .box h1 {
      font-size: 60px;
    }
  
    .custom-btn {
      width: 100%;
      height: 35px;
      font-size: 12px;
    }
    .btn-search {
      width: 100%;
      height: 35px;
      font-size: 12px;
    }
    .date-picker {
      width: 100%;
      height: 35px;
      font-size: 12px;
    }
  
    .btn-danger {
      padding: 8px 16px;
      font-size: 12px;
    }
  
    .card-body {
      flex-direction: column;
      align-items: stretch;
    }
    .delete{
      margin-left: 0;
    }
  
    
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 12px;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-bottom: 12px;
    padding: 4px;
  }