
           
        .box {
            margin-top: 20px;
            background-color: white;
            border-radius: 10px;
            font-size: 13px;
            width: 100%;
        }

        .title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 30px;

        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
            background-color: rgba(19, 12, 144, 0.04);
            
        }
        thead{
            background-color: #130C90;
        }
        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            color: white;
        }
        .form-control{
            background-color:  rgba(19, 12, 144, 0.04);
            font-size: 13px;
        }
        .pagination{
            display:flex;
            justify-content: right;
            margin-top: 2px;
        }
        .pagination .page-item {
            margin: 0 2px; /* Menambahkan jarak antar item */
        }
        .pagination .page-item .page-link {
        color: #130C90; /* Mengubah warna teks */
        padding: 5px 10px;
        border: 1px solid #130C90; /* Menambahkan border */
        border-radius: 5px;
        }

        .page-item.active .page-link{
            background-color: #130C90;
            color: white;
            border-color: #130C90;
        }

        .page-link:hover{
            background-color: rgba(19, 12, 144, 0.04);
            color: white;
        }

        .search-container{
            position: relative;
        }

        .search-container input{
            padding-right: 30px;
        }

        .search-container i{
            position:absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    